{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h3>Ajout d'un etabmissement</h3>

<form  class="form-horizontal" action="{{ path('university_create', {type: type}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ajouter</button>
      </div>
    </div>
</form>

{% endblock body %}