{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h3>Ajout d'un pavillon</h3>

<form class="form-horizontal" action="{{ path('block_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ajouter</button>
      </div>
    </div>
</form>

{% endblock body %}
